@import '../variables.css';

.aside__section-title{
    background-color: var(--primary-color);
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.popular__card{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    gap: .5rem;
    
    margin: 1rem 0;
}

.popular__card-image{
    width: 40%;   
}

.popular__card-text{
    font-size: .8rem;
}

.category__list{
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
}

.category__list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__list-item > h3 {
    font-weight: 400;
}