@import '../variables.css';

/* css da seção popular */
.popular__card{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    gap: .5rem;
    margin: 1rem 0;
}

.popular__card-image{
    width: 40%;   
}

.popular__card-text{
    font-size: .8rem;
}


/* css da seção category */
.category__list{
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
}

.category__list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__list-item > h3 {
    font-weight: 400;
}

/* media das telas maiores */
@media (min-width: 768px){
    .popular__card{
        margin: 1.1rem 0;
    }
}

@media (min-width: 2560px){
    .category__list-item, .popular__card-text{
        font-size: 1.2rem;
    }
}