@import '../variables.css';

.recents {
    margin: 1.5rem 0;
}

.recents__header {
    background-color: var(--primary-color);
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recents__header > a {
    color: #fff;
}

.recents__card {
    overflow: hidden;
    margin: 1.5rem 0;
}

.recents__card-text {
    padding: .5rem 1rem;
    display: grid;
    gap: .5rem;
}

/* media das telas maiores */
@media (min-width: 768px) {
    .recents {
        display: grid;
        gap: .5rem 1.5rem;
        margin: 1.5rem 0;
    }


    .recents__header {
        grid-column: 1/3;
    }

}

@media (min-width: 2560px) {
    .recents {
        gap: 1rem 2rem;
    }
    
    .recents__card-text {
        font-size: 1.5rem;
    }
}