@import 'components/header.css';
@import 'components/featuredPost.css';
@import 'components/aside.css';
@import 'components/recents.css';
@import 'components/footer.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.normal-font{
    font-weight: 400;
}

.main-content, .sidebar{
    margin: 1rem .5rem;
}

img{
    object-fit: cover;
    width: 100%;
}

.text-gray{
    color: #616161;
}

.shadow{
    box-shadow: 10px 0 20px 1px rgba(0, 0, 0, 0.1);
}

.radius{
    border-radius: 10px;
}

@media (min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .main-content{
        grid-column: 1/3;
    }
}